@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Roboto:wght@100;300&display=swap');

body {
    font-family: Baskervville, serif;
    font-weight: 300;
    color: #252525;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1,
h2 {
    font-family: baskervville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;

}

#logo {
    float: left;
    font-size: 300%;
}

#menu{
    font-size: 120%;
    letter-spacing: 4px ;
}

#menu li{ float: right;
    list-style-position: none;
    margin-right: 30px;

}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu, #logo{
    line-height: 75px;
}

#menu a:hover{
    border-bottom:1px solid dimgray;
}

.active{
    border-bottom: 1px solid dimgray;
}